.brand-wrapper {
    h6 {
        font-size: 22px;
        position: relative;
        margin-bottom: 50px;
        color: $header-color;
        font-weight: 600;
    }

    .brand-image {
        text-align: center;
        filter: grayscale(100%);
        @include transition;
        opacity: .6;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 140px;

        img {
            max-width: 140px;
            max-height: 140px;
            object-fit: contain;
        }

        &:hover {
            filter: initial;
            opacity: 1;
        }
    }

    .swiper-slide.swiper-slide-active,
    .swiper-slide.swiper-slide-next {
        .brand-image {
            filter: initial;
            opacity: 1;
        }
    }
}

.brand-wrapper-2 {
    margin-bottom: -10px;

    @include breakpoint (max-xl) {
        margin-top: -7px;
    }

    .brand-img {
        text-align: center;
    }
}